<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>
<section class="feedback-section container">
  <h2 class="feedback-title">Щасливі історії, що надихають</h2>
  <p class="feedback-subtitle">
    Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас
  </p>

  <div class="swiper feedback-swiper">
    <div
      class="swiper-wrapper feedback-swiper-wrapper"
      id="feedback-container"
    ></div>

    <!-- controls ПОД карточками -->
    <div class="feedback-controls">
      <div class="swiper-pagination feedback-pagination"></div>

      <div class="feedback-navigation">
        <button id="prevBtn" class="custom-btn">‹</button>
        <button id="nextBtn" class="custom-btn">›</button>
      </div>
    </div>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
