.footer {
  background-color: #c3b49d;
  text-align: center;
  padding: 48px 0;
}
.footer-container {
  padding: 0 20px;
  display: block;
  margin: auto;
  max-width: 375px;
}
.a {
  display: block;
}
.footer-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  margin-top: 32px;
}
.footer-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
.footer-link {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
}
.footer-link:hover::after {
  transform: scaleX(1);
}
.footer-media-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 32px;
  margin-top: 32px;
}
.footer-media-icon {
  display: block;
}
.footer-text {
  border-top: 1px solid rgba(2, 6, 10, 0.15);
  padding-top: 32px;
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
  color: var(--neutral-darkest);
  margin-top: 80px;
}
/* hover на іконку */
.icon-footer-btn:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 768px){
  .footer-container {
    padding: 0 32px;
    max-width: 768px;
  }
.footer-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 32px;
  }
  }
@media screen and (min-width: 1440px){
  .footer {
    padding: 64px 0;
  }
  .footer-container {
    padding: 0 64px;
    max-width: 1440px;
  }
.footer-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 32px;
}
}

