.pets-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 16px;
}
.pets-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 40px;
}

.categories-list {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  flex-direction: row-reverse;
}

.categories-item {
  padding: 10px 16px;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
}
